<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<div class="footerbg"><!-- FOOTER START -->
<div class="wrapper">
    <div class="footer textcolor5">
        <div class="footerColumn">
            <div class="widget">
                <div class="titleContainer titleFooter font1">
                    <div class="title">
                        Свежие записи
                    </div>
                </div>
                <div class="widgetBody widgetPosts">
                    {% for news in n %}

                    <div class="widgetPostsEntry">
                        <div class="widgetPostsEntryAvatar">
                            <img src="{{ MEDIA_URL }}{{ news.image }}" alt="" />
                        </div>

                        <div class="widgetPostsEntryBody">
                            <div class="widgetPostsEntryBodyTitle">
                                <a class="textcolor7" href="/blog/{{ news.id }}/">
                                    {{ news.title }}
                                </a>
                            </div>
                            <div class="widgetPostsEntryBodyText">
                                {{ news.description }} <a class="widgetPostsEntryBodyTextMore bgcolor" href="/blog/category/Новости/" title="Все новости"></a>
                            </div>
                        </div>
                    </div>
                        <div class="widgetPostsEntryDelimiter"></div>
                    {% endfor %}


                </div>
            </div>
        </div>
        <div class="footerColumn">
            <div class="widget">
                <div class="titleContainer titleFooter font1">
                    <div class="title">
                        Поиск книг
                    </div>
                </div>
                <div class="widgetBody widgetPosts">

        <form action="/search/" method="GET">
            <input style="color: #7d7b7b; padding-left: 10px; font-style: italic;"  class="input" type="text" name="q" size="44" value="Запрос + Enter" onfocus="if(value == 'Запрос + Enter') value='';" onblur="if(value == '') value='Запрос + Enter';">
            <input class="submit" type="submit" value="">
        </form>


                </div>
            </div>
        </div>
        <div class="footerColumn">
            <div class="widget">
                <div class="titleContainer titleFooter font1">
                    <div class="title">
                        Фото
                    </div>
                </div>
                <div class="widgetBody widgetFlickr" data-user="25975342@N02" data-images="12"></div>
            </div>
        </div>
    </div>
</div>