<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<div class="lowerfooterbg">
    <div class="wrapper">
        <div class="lowerfooter">
            <div class="copyright textcolor10">
                &copy; copyright 2014 powered by <span class="textcolor">hqpr</span>
            </div>
            <div class="signature textcolor10">
                <span class="textcolor">написать</span>  <span class="textcolor9">нам</span>
            </div>
        </div>
    </div>
</div>