<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<div class="menuContainer">
    <ul class="menu font1">
        <li>
            <a href="#">Фичи</a>
            <div class="menuLevel">
                <ul class="menuDrop font3">
                    <li>
                        <div class="menuDropArrow"></div>
                        <a href="/rating/">Рейтинг книг</a>
                    </li>
                    <li>
                        <div class="menuDropArrow"></div>
                        <a href="#">Хронология</a>
                    </li>
                    <li>
                        <div class="menuDropArrow"></div>
                        <a href="#">Категории</a>
                    </li>
                    <li>
                        <div class="menuDropArrow"></div>
                        <a href="#">Дополнительно</a>
                        <div class="menuLevel">
                            <ul class="menuDrop font3">
                                <li>
                                    <div class="menuDropArrow"></div>
                                    <a href="#">Оставить отзыв</a>
                                </li>
                                <li>
                                    <div class="menuDropArrow"></div>
                                    <a href="/blog/">Блог</a>
                                </li>
                                <li>
                                    <div class="menuDropArrow"></div>
                                    <a href="#">Издатели</a>
                                </li>
                                <li>
                                    <div class="menuDropArrow"></div>
                                    <a href="#">Дополнительно</a>
                                    <div class="menuLevel">
                                        <ul class="menuDrop font3">
                                            <li>
                                                <div class="menuDropArrow"></div>
                                                <a href="#">Сюда никто не нажимает</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a href="/books/">Книги</a>
        </li>
        <li>
            <a href="/authors/">Авторы</a>
        </li>
    </ul>
</div>